//@font-face{
//    font-family: "Georgia", sans-serif;
//    src: url("../fonts/Georgia.woff2") format('woff2'),
//        url('../fonts/Georgia.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
//    font-display: swap;
//}

%roboto-l {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

%roboto-r {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%roboto-m {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

%lato-r {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
