$primary: #181818;
$secondary: #202020;
$text-color: #d2d2d2;
$subtext-color: #828282;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #3137c9;

$z-index: 1000;
$z-index-modal: 1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
//Fonts
// %lato-regular{
//     font-family: "Lato-Regular", sans-serif;
//     font-weight: 400;
// }
