.main {
  padding: 100px 0 80px $sidebar-width;

  @include breakpoint($tablet-bp) {
    padding-left: 0;
    padding-top: 75px;
  }

  @include breakpoint($tablet-bp) {
    padding-bottom: 50px;
  }
}
