.search {
  max-width: 210px;
  width: 100%;
  background-color: $secondary;
}

.search__input {
  display: block;
  padding: 12px 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: $white;
  &::placeholder {
    color: rgba($white, 0.4);
    border: none;
  }

  &:focus {
    border: none;
  }
}
