.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  background-color: $secondary;
  z-index: $z-index;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);

  @include breakpoint($tablet-bp) {
    // display: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    top: 40px;

    height: calc(100vh - 4rem);
    padding-bottom: 1.5rem;

    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }
}

.sidebar__header {
  height: 180px;

  @include breakpoint($tablet-bp) {
    height: 100px;
  }
}

.sidebar__header-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__content {
  padding: 0 20px;

  @include breakpoint($tablet-bp) {
    flex-grow: 1;
    justify-content: center;
  }
}

.sidebar__footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
