.social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &--modal {
    margin: 0;
  }

  @include breakpoint($tablet-bp) {
    .sidebar,
    & {
      display: none;
    }
  }
}

.social__item {
  padding-right: 15px;
}
